# macOS

.DS_Store
Thumbs.db

# Windows

[Dd]esktop.ini

# Node.js

node_modules/**
package-lock.json

# Yarn

yarn.lock

# Output

docs/
!packages/docs/

# Sublime Text / Project workspace files

*.sublime-workspace
